@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Audiowide&family=Kite+One&family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --sidebar: #1e1e1e;
  --body: #f9f9fb;
  --tool-hover: #2a2a2a;
  --tool-default: #141414;
  --tool-active: #a5b4fc;
  --body-dull: #d4d4d8;
  --page-width: 210mm;
  --page-height: 297mm;
  --menu-button-width: 150px;
}

.imgDiv {
  display: inline;
  position: relative;
}

.deleteImgButton {
  position: absolute;
  cursor: pointer;
  top: 2px;
  left: 2px;
  width: 30px;
  height: 30px;
  background-color: var(--tool-default);
  border-radius: 10px;
  filter: drop-shadow(-2px 2px 5px var(--tool-active));
  user-select: none;
  border: none;
  background-image: url("delete.svg");
  background-size: cover;
  transition: 300ms;
  transform-origin: center;
  opacity: 0;
}

.deleteImgButton:hover {
  box-shadow: inset 0px 0px 2px 0px var(--tool-active);
  background-color: var(--tool-hover);
}

.imgDiv:hover .deleteImgButton {
  opacity: 1;
}

.formDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 500px;
  font-family: Inter Tight;
  gap: 10px;
}

.formDiv form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.formInputDiv {
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}

.centerSavesDiv {
  display: flex;
  margin-top: 20vh;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  gap: 10vh;
}

.savesTitle {
  font-size: 48px;
  font-family: Inter Tight;
  letter-spacing: 2px;
  font-weight: 600;
}

.saves {
  display: flex;
  width: 50vw;
  height: 60vh;
  flex-direction: column;
  gap: 10px;

  overflow-y: auto;
  scroll-behavior: smooth;
  overflow-x: hidden;

  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 40px;
}

.sc_load_root {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-shrink: 0;
  padding: 10px;
  border-radius: 5px;
  background-color: var(--body);
  align-items: center;
  position: relative;
  overflow: hidden;
  box-shadow: -2px 2px 9px 0px #000000;
  border: 3px var(--body-dull) solid;
  cursor: default;
}

@keyframes shimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.skeleton {
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    var(--body) 0%,
    #e0e0e0 50%,
    var(--body) 100%
  );
  background-size: 400px 80px;
  animation: shimmer 1.5s infinite linear;
}

.sc_load_imgWrap {
  height: 80px;
  width: 80px;
  border-radius: 10px;
  flex-shrink: 0;
}
.sc_load_imgSkeleton {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(
    90deg,
    var(--body) 0%,
    #e0e0e0 50%,
    var(--body) 100%
  );
  background-size: 400px 80px;
  animation: shimmer 1.5s infinite linear;
}

.sc_load_textBlock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  gap: 5px;
}

.sc_load_nameSkeleton {
  width: 200px;
  height: 32px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    var(--body) 0%,
    #e0e0e0 50%,
    var(--body) 100%
  );
  background-size: 400px 32px;
  animation: shimmer 1.5s infinite linear;
}

.sc_load_summarySkeleton {
  width: 150px;
  height: 16px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    var(--body) 0%,
    #e0e0e0 50%,
    var(--body) 100%
  );
  background-size: 400px 16px;
  animation: shimmer 1.5s infinite linear;
}

.sc_load_metaBlock {
  display: flex;
  gap: 50px;
  align-items: center;
  height: 100%;
  flex-shrink: 0;
}

.sc_load_metaSkeletonA,
.sc_load_metaSkeletonB {
  width: 80px;
  height: 16px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    var(--body) 0%,
    #e0e0e0 50%,
    var(--body) 100%
  );
  background-size: 400px 16px;
  animation: shimmer 1.5s infinite linear;
}

.sc_load_menuSkeleton {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: linear-gradient(
    90deg,
    var(--body) 0%,
    #e0e0e0 50%,
    var(--body) 100%
  );
  background-size: 400px 30px;
  animation: shimmer 1.5s infinite linear;
}

.saveCardImgWrapper {
  background-color: var(--tool-default);
  height: 80px;
  width: 80px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.saveCardImgWrapper img {
  height: 80%;
  width: 80%;
}

.saveMetadata {
  display: flex;
  justify-content: end;
  margin-right: 100px;
  align-items: center;
  height: 100%;
  color: var(--tool-default);
  opacity: 70%;
  gap: 50px;
  flex: 1;
  cursor: default;
}

.saveCard {
  height: 80px;
  width: 100%;
  background-color: var(--body);
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  justify-content: left;
  gap: 20px;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  align-items: center;
  font-family: Inter Tight;
  box-shadow: -2px 2px 9px 0px #000000;
  border: 3px var(--body-dull) solid;
  position: relative;
}

.saveText:hover .saveName {
  text-decoration-line : underline;
}

.saveDropdown {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  text-align: center;
  position: absolute;
  top: 5px;
  right: 40px;
  color: var(--tool-active);
  width: 150px;
}

.saveDropdown span {
  padding-bottom: 5px;
  padding-top: 5px;
  background-color: var(--tool-default);
}
.saveDropdown span:hover {
  filter: invert();
}

.saveMenu {
  background-color: var(--tool-default);
  border-radius: 5px;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 5px;
  cursor: context-menu;
  right: 5px;
}

.saveText {
  display: flex;
  flex-direction: column;
}

.saveName {
  font-size: 32px;
}

.saveSummary {
  font-size: 16px;
  opacity: 85%;
}

.formInputDiv input:focus {
  outline: 2px solid var(--tool-active);
}

.formInputDiv label {
  font-size: 20px;
  opacity: 85%;
  font-weight: 500;
}

.submitLoginButton {
  border: none;
  height: 60px;
  width: 100%;
  border-radius: 5px;
  background-color: var(--tool-hover);
  color: var(--body);
  font-family: Inter Tight;
  font-size: 20px;
  font-weight: 500;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 200ms;
}

.submitLoginButton::before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--tool-default);
  position: absolute;
  top: 100%;
  left: -100%;
  transition: 200ms;
}

.signUpButton {
  border: none;
  font-family: Inter Tight;
  margin-top: 20px;
  font-size: 20px;
  color: var(--sidebar);
  position: relative;
  width: 100%;
  background: none;
  cursor: pointer;
  transition: 200ms;
  text-decoration: underline;
}

.signUpButton:hover {
  color: var(--tool-active);
  font-weight: 600;
}

.submitLoginButton span {
  position: relative;
  z-index: 1;
}

.submitLoginButton:hover {
  font-weight: 600;
}

.submitLoginButton:hover::before {
  left: 0;
  top: 0;
}

.formDiv hr {
  width: 90%;
  opacity: 60%;
}

.loginTitle {
  font-size: 48px;
  font-weight: 500;
}

.loginTitleSubtext {
  font-size: 24px;
}

.oauth {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  border: var(--body-dull) 2px solid;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  background-color: var(--body);
  transition: 200ms;
}

.oauth:hover {
  font-weight: 600;
}

.oauth span {
  font-size: 20px;
}

.oauth img {
  width: 35px;
  height: 35px;
  padding: 10px;
}

.formDiv input {
  border: none;
  height: 60px;
  width: 100% - calc(20px);
  font-size: 20px;
  border: var(--body-dull) 2px solid;
  border-radius: 5px;
  font-weight: 400;
  padding-left: 20px;
}

.centerLoginDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: var(--body-dull);
}

#sidebar {
  height: 100vh;
  width: 100px;
  margin-top: 150px;
  background-color: var(--sidebar);
  position: fixed;
  right: 100% - 100px;
  display: flex;
  z-index: 5;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  user-select: none;
}

#topBarWrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 99;
}

#menubar {
  padding-left: 20px;
  height: 30px;
  z-index: 53535;
  width: 100%;
  background-color: var(--tool-default);
  pointer-events: all;
  display: flex;
}

.menubarButton {
  height: 100%;
  width: var(--menu-button-width);
  outline: none;
  border: none;
  padding: 0;
  transition-property: background-color;
  transition: 90ms linear;
  background-color: var(--tool-default);
}

.menubarButton span {
  color: var(--body);
  font-family: Inter Tight;
  font-weight: 600;
  font-size: 25px;
  letter-spacing: 2px;
  opacity: 80%;
}

.menubarButton:hover {
  background-color: var(--tool-hover);
}

.page {
  height: var(--page-height);
  border-bottom: #141414;
  border-bottom: 2px solid;
}

.overlaySvg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlaySvg img {
  width: 32px;
  height: 32px;
  /* position: absolute; */
  right: 0;
  pointer-events: none;
}

body {
  padding: 0;
  margin: 0;
  background-color: var(--body);
  overflow: hidden;
}

.icon {
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 15%;
  width: 80px;
  height: auto;
  background-color: var(--tool-default);
  user-select: none;
}

.colorPicker {
  height: 38px;
  background-color: var(--tool-default);
  border-radius: 6px;
  justify-content: center;
  align-items: center;
}

.colorPicker img {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background-color: var(--tool-default);
  width: 24px;
  height: 24px;
  user-select: none;
  margin-left: 10px;
  margin-right: 10px;
}

.colorPickerColor {
  height: 100%;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  background-color: aliceblue;
  width: 36px;
  user-select: none;
}

.descriptor {
  font-family: Inter Tight;
  font-weight: 600;
  font-size: small;
  opacity: 60%;
  color: var(--body);
}

.tool:hover {
  background-color: var(--tool-hover) !important;
  fill: var(--body);
}

#textInputDiv {
  background-color: var(--body-dull);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.dropdownContent {
  color: var(--body);
  background-color: var(--sidebar);
  font-family: Inter Tight;
  min-width: var(--menu-button-width);
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 100;
  opacity: 100%;
}



.dragPreview {
  width: 50px;
  height: 50px;
  border-style: solid;
  border-radius: 25%;
  border-width: 5px;
  border-color: var(--tool-active);
  animation: pulse 2s linear 0s infinite both;
}

@keyframes pulse {
  0% {
    border-color: var(--tool-active);
  }

  50% {
    border-color: white;
    opacity: 0;
  }

  100% {
    border-color: var(--tool-active);
  }
}

.textInput img {
  cursor: grab;
  user-select: none;
}

@media print {
  body>* {
    visibility: hidden;
  }

  .textInputWrapper,
  #textInputDiv {
    margin: 0 !important;
    padding: 0 !important;
    width: var(--page-width) !important;
    min-height: var(--page-height) !important;
    box-sizing: border-box !important;
    position: static !important;
  }

  .textInput {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    visibility: visible;
    height: auto !important;
    break-inside: avoid-page;
  }

  #drawing {
    display: none !important;
  }
}

.dropdownContent button {
  border-radius: 0;
  outline: none;
  /* border: groove var(--tool-active) 1px; */
  border: none;
  height: 30px;
  font-size: 25px;
  background-color: var(--tool-default);
  color: var(--tool-active);
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
}

.swal2-popup {
  background-color: var(--sidebar) !important;
}

.swal2-title,
.swal2-confirm,
.swal2-cancel,
.swal2-input {
  color: var(--body) !important;
  font-family: Inter Tight !important;
  font-weight: 600 !important;
}

.swal2-confirm {
  background-color: var(--tool-active);
}

.swal2-cancel {
  background-color: var(--body-dull);
}

.dropdownContent button:hover {
  filter: invert();
}

#textInputDiv::after {
  margin-top: 30px;
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  z-index: 1;
}

#drawing {
  cursor: pointer;
  background-color: none;
  z-index: 0;
}

.image {
  position: absolute;
  user-select: none;
  cursor: pointer;
  height: 100px;
  width: 100px;
  z-index: 3;
  -webkit-user-drag: none;
  top: 50%;
  left: 50%;
}

.textInputWrapper {
  background-color: var(--body) !important;
  box-shadow: 5px 4px 15px 5px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
  width: var(--page-width);
  height: calc(100vh - 160px);
  padding: 20px;
  outline: none;
  background: none;
  position: absolute;
  resize: none;
  border: none;
  caret-color: var(--sidebar);
  overflow: hidden;
  scrollbar-width: none;
  z-index: 2;
  user-select: text;
}

.textInput {
  height: calc(100vh - 160px);
  width: var(--page-width);
  /* padding: 20px; */
  outline: none;
  background: none;
  font-family: Kite One;
  font-size: 30px;
  position: absolute;
  resize: none;
  box-sizing: border-box;
  padding-bottom: 500px;
  border: none;
  color: var(--sidebar);
  caret-color: var(--sidebar);
  z-index: 2;
  overflow-x: hidden;
  overflow-y: scroll;
  white-space: pre-wrap;
  word-break: break-word;
}
.textinput::after {
  content: "";
  height: 500px;
  width: 100%;
}

#ribbonWrapper {
  width: 100vw;
  height: 120px;
  background-color: var(--sidebar);
  z-index: 99;
  display: flex;
}

#ribbon {
  padding-left: 10px;
  background-color: var(--sidebar);
  display: flex;
  flex: 1;
  align-items: center;
  gap: 15px;
}

#rightRibbon {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: end;
  padding-right: 50px;
}

#login {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#login > * {
  user-select: none;
}

#login span {
  font-family: Inter Tight;
  color: var(--body);
  font-size: 24px;
  opacity: 80%;
}

.pfp {
  background-color: var(--tool-hover);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: var(--body) 3px solid;
  padding: 5px;
}

.avatarpfp {
  border-radius: 50%;
    display: flex !important;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatarpfp::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  width: 50px;
  height: 50px;
  border: var(--body) 3px solid;
  border-radius: 50%;
}

@keyframes pressFlash {
  0% {
    transform: scale(1);
    filter: brightness(1);
    box-shadow: none;
  }

  30% {

    transform: scale(1.05);
    filter: brightness(1.5);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  100% {
    transform: scale(1);
    filter: brightness(1);
    box-shadow: none;
  }
}

.press-flash {
  animation: pressFlash 200ms ease-out;
}

#fontSizeContainer {
  text-align: center;
  user-select: none;
}

.ribbonSpacer {
  margin-top: 25px;
  height: 80px;
  background-color: gray;
  width: 2px;
  opacity: 40%;
}

#fontSize {
  color: inherit;
  background-color: inherit;
  width: 9rem;
  height: 1.5rem;
  font-family: Audiowide;
  text-align: center;
  caret-color: var(--body);
  user-select: none;
  font-size: 1rem;
  padding: 1px;
  z-index: 1;
  background-color: var(--tool-default);
  border: none;
  outline: none;
}

#fontSize::selection {
  background: var(--tool-default);
}

.formatContainer {
  padding: 7px;
  background-color: var(--tool-default);
  border-radius: 6px;
}

.formatSlider input {
  font-family: Inter Tight;
  font-weight: 500;
  font-size: 18px;
  text-align: center;
  color: var(--body);
  caret-color: var(--body);
  border: none;
  outline: none;
  background-color: var(--tool-default);
  user-select: none;
  text-align: center;
  width: 28px;
}

.formatSlider span {
  font-family: Inter Tight;
  font-weight: 500;
  font-size: 14px;
  color: var(--body);
  width: 16px;
  text-align: center;
  margin: auto;
  pointer-events: none;
  user-select: none;
}

.formatSlider input::selection {
  background: var(--tool-default);
}

.formatSlider img {
  background-color: var(--tool-default);
  width: 24px;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  /* Firefox */
}

.cosmeticSlider {
  background: url("triangle.svg");
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: 16px;
  position: relative;
  z-index: 0;
  transition-property: opacity;
  transition-duration: 200ms;
  opacity: 0;
}

.cosmeticSliderWrapper {
  transition-property: transform;
  transition-duration: 200ms;
}

.verticalSliderSpins {
  display: flex;
  flex-direction: column;
  height: 38px;
  position: absolute;
  right: -13px;
  top: 50%;
  transform: translateY(-50%);
  background-color: var(--tool-default);
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding-left: 5px;

  img {
    width: 15px;
    padding-top: 2px;
    padding-bottom: 2px;
    user-select: none;
    background-color: color-mix(in oklab, var(--sidebar) 90%, white 10%);
  }

  img:first-child {
    border-top-right-radius: 6px;
  }

  img:last-child {
    border-bottom-right-radius: 6px;
  }
}



.fontDropdownContainer {
  width: 201px;
  position: relative;
  z-index: 1;

  input {
    width: 100%;
    height: 22px;
    font-size: 18px;
    font-family: Inter Tight;
    background-color: var(--tool-default);
    outline: none;
    border: none;
    caret-color: var(--body);
    color: var(--body);
    font-weight: 500;
  }

  input::selection {
    background-color: var(--tool-hover);
  }
}

.fontDropdown {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  width: inherit;
  height: 128px;
  overflow: auto;
  pointer-events: none;

  button {
    background-color: var(--tool-default);
    color: var(--tool-active);
    font-family: Audiowide;
    font-size: 1rem;
    padding: 8px;
    outline: none;
    border: none;
    transition: 200ms filter;
    box-shadow: inset 0px 0px 2px 0px #a5b4fc;
    pointer-events: all;
  }

  button:hover {
    filter: invert(1);
  }
}

#formatAlignContainer {
  text-align: center;
  gap: 5px;
  user-select: none;

  button {
    background: none;
    border-radius: 1px;
    transition-property: background-color scale;
    transition: 90ms linear;
    outline: none;
    border: none;
  }

  button:hover {
    background-color: var(--tool-hover);
    scale: 1.05;
  }
}

.formatButton.activated {
  background-color: var(--tool-hover);
  scale: 1.05;
}

#formatGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 3px;
  grid-row-gap: 3px;
}

.formatButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.formatButton {
  height: 24px;
  width: 24px;
  outline: none;
  border: none;
  transition-property: background-color scale;
  transition: 90ms linear;
  border-radius: 6px;
  background-size: contain;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formatButton img {
  height: 24px;
  width: 24px;
  outline: none;
  border: none;
}

.formatButton:hover {
  background-color: var(--tool-hover);
  scale: 1.05;
}